.edit_cocbody{
    margin: 0;
    padding: 0;
    background-size: cover; /* Ensures the background covers the entire element */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed; /* Fixes the background image, so it doesn't scroll with the content */
}

.radio-input {
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
  }
  
  .radio-input input[type="radio"] {
    display: none;
  }
  
  .radio-input label {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #212121;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .radio-input label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
  }
  
  .radio-input input[type="radio"]:checked + label:before {
    background-color: blue;
    top: 0;
  }
  
  .radio-input input[type="radio"]:checked + label {
    background-color: #ffd67b;
    color: #000000;
    border-color:lightblue;
    animation: radio-translate 0.5s ease-in-out;
  }
  
  @keyframes radio-translate {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }

  @media only screen and (min-width:321px) and (max-width: 767px)
  {
    .radio-input label 
    {
        margin-right: 2.5px;
    }
    .radio-input{
        font-size: 0.6em;
    }
  }
  
  .editcocbtn {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .editcocbtn::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .editcocbtn:hover::before {
    scale: 3;
  }
  
  .editcocbtn:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .editcocbtn:active {
    scale: 1;
  }
  
  
  